<tr>
    <td bgcolor="#ffffff" align="center" style="padding: 0px 15px 25px 15px;" class="section-padding">
        <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding:0 0 20px 0;"
               class="responsive-table">
            <tr>
                <td align="center" height="100%" valign="top" width="100%" style="padding-bottom: 35px;">
                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                        <tr>
                            <td align="center" valign="top" width="500">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                                       style="max-width:500;">
                                    <tr>
                                        <td align="center" valign="top" style="font-size:0;">
                                            <table align="center" border="0" cellspacing="0" cellpadding="0"
                                                   width="500">
                                                <tr>
                                                    <td align="center" valign="top" width="350">
                                                        <div style="display:inline-block; margin: 0 -2px; max-width:350px; vertical-align:top; width:100%;"
                                                             class="wrapper">

                                                            <table align="left" border="0" cellpadding="0"
                                                                   cellspacing="0" width="100%"
                                                                   style="max-width: 325px; float: right;"
                                                                   class="wrapper">
                                                                <tr>
                                                                    <td style="padding: 40px 0 0 0;"
                                                                        class="no-padding">
                                                                        <!-- ARTICLE -->
                                                                        <table border="0" cellspacing="0"
                                                                               cellpadding="0" width="100%">
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="padding: 0 0 5px 0; color: #d2293b;  font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal;"
                                                                                    class="padding-copy">Gagnez jusqu'à 20 Euros
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="padding: 10px 0 15px 0; font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666;"
                                                                                    class="padding-copy">Maecenas
                                                                                    sed nulla massa. In mattis
                                                                                    vulputate nisl, rhoncus blandit

                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="padding" align="center">
                                                                                    <a href="http://litmus.com" target="_blank">
                                                                                        <img src="/image/picture.jpg" width="250" height="200" border="0" alt="Insert alt text here" style="display: block; color: #666666;  font-family: Helvetica, arial, sans-serif; font-size: 16px;" class="img-max">
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="padding" align="center" style="font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666; padding-top: 5%;">
                                                                                    frf f fsdfksjfnsjfn sdfsf sf
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="padding" align="center" style="font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666; padding-top: 5%; padding-bottom: 10%;">
                                                                                    <a href="#"><img style="background-color: #3b5998; border-radius: 50%; " src="/image/fb.png" alt=""/></a>
                                                                                    <a href="#"><img style="background-color: #007bb6; border-radius: 50%; " src="/image/in.png" alt=""/></a>
                                                                                    <a href="#"><img style="background-color: #00aced; border-radius: 50%; " src="/image/tweet.png" alt=""/></a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="mobile-button-container">
                                                                                <td align="center" style="border-radius: 3px;"
                                                                                    bgcolor="#d2283b"><a href="https://litmus.com"
                                                                                                         target="_blank"
                                                                                                         style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 15px 25px; display: inline-block;"
                                                                                                         class="mobile-button">Learn
                                                                                        More &rarr;</a></td>

                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff" align="center" style="padding: 25px 15px 70px 15px;" class="section-padding">
        <hr>
        <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <!-- COPY -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center"
                                            style="padding: 0 0 5px 0; color: #d2293b;  font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal;"
                                            class="padding-copy">Gagnez jusqu'à 20 Euros
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"
                                            style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #d2283b; padding-top: 30px; padding-bottom: 10%;"
                                            class="padding-copy">Télécharger la version mobile, accélérer la création de contenu
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"
                                            style="padding: 0 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666; padding-bottom: 10%;"
                                            class="padding-copy">
                                            <img src="/image/appStore.png" alt=""/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"
                                            style="padding: 0 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666; padding-bottom: 10%;"
                                            class="padding-copy">
                                            <img src="/image/android.png" alt=""/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <hr>
                                <!-- BULLETPROOF BUTTON -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" style="padding-top: 25px;" class="padding">
                                            <table border="0" cellspacing="0" cellpadding="0"
                                                   class="mobile-button-container">
                                                <tr>
                                                    <td align="center" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #d2283b; padding-top: 30px; padding-bottom: 3%;"
                                                        class="padding-copy">
                                                        Faites passer : faites connaître ValueYourNetwork à vos amis !
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="padding" align="center" style="font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666; padding-top: 3%;">
                                                        <a href="#"><img style="background-color: #000; border-radius: 50%; " src="/image/fb.png" alt=""/></a>
                                                        <a href="#"><img style="background-color: #000; border-radius: 50%; " src="/image/in.png" alt=""/></a>
                                                        <a href="#"><img style="background-color: #000; border-radius: 50%; " src="/image/tweet.png" alt=""/></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>